<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="SampleTestNG">
		<parameter name="browzer" value="chrome"></parameter>
		<parameter name="username" value="admin"></parameter>
		<parameter name="password" value="admin"></parameter>
		<classes>
		
			<class name="testscript.SearchSubcategoryTest">
				<methods>
					<include name="verifyuserisabletosearchsubcategory">
					</include>
				</methods>
			</class>
		</classes>
	</test> <!--
	SampleTestNG -->
</suite> <!--
Suite -->
